.reply-form {
    margin-top: 20px;
    padding: 15px;
    background-color: #e2e4e6;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reply-form input[type="text"],
.reply-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reply-form button {
    margin-right: 10px;
}

.reply-body {
    margin-top: 20px;
    padding: 10px;
    background-color: #e2e4e6;
    border-radius: 10px;
}

.reply {
    color: black;
}
.reply strong {
    font-weight: bolder;
}

.reply-body small {
    display: block;
    font-size: 0.8em;
    color: #6c757d;
}
